development:
  DB_DATABASE: "photo-gallery_development"
  DB_POOL: '35'
  DB_USERNAME: username
  DB_PASSWORD: password
  DB_HOST: localhost
  DB_PORT: '5432'

test:
  DB_DATABASE: "photo-gallery_test"
  DB_POOL: '35'
  DB_USERNAME: username
  DB_PASSWORD: password
  DB_HOST: localhost
  DB_PORT: '5432'

HEADER: 'Photo gallery'

EMAIL_FROM: 'some@email.com'
SMTP_SERVER: 'some.smtpserver.com'
SMTP_PORT: '587'
SMTP_USERNAME: 'username'
SMTP_PASSWORD: 'password'
CLOUDINARY_CLOUD_NAME: 'insert_your_own_cloud_name'
CLOUDINARY_API_KEY: 'insert_your_own_api_key'
CLOUDINARY_API_SECRET_KEY: 'insert_your_own_api_secret_key'