$dark-grey: #777777;
$middle-dark-grey: #666666;
$middle-light-grey: #CCCCCC;
$black: #333333;
$white: #F1F1F1;
$red: #D9534F;
$darker-red: #D43F3A;
$dark-blue: #004085;
$lighter-blue: #CCE5FF;
$light-blue: #B8DAFF;
$green: #28A745;
$darker-green: #1E7E34;
