@import 'colors';
@import 'mixins';
.photo {
  color: $black;
  padding-top: 16px;

  &__row {
    padding: 4px;
  }

  &__image img {
    max-height: 550px;
  }

  &__filename {
    font-style: italic;
  }
}

.gallery-navigation {

  &__previous {
    position: absolute;
    left: 16px;
    top: 50%;
    @include galleryNavigationButton;
  }

  &__next {
    position: absolute;
    right: 16px;
    top: 50%;
    @include galleryNavigationButton;
  }
}