<nav class="footer__menu">
  <ul class="footer__menu-list">
    <li class="footer__menu-item">
      <a class="footer__menu-link" href="/admin/">Manage</a>
    </li>
    <li class="footer__menu-item">
      <a class="footer__menu-link" href="#top">Back to top</a>
    </li>
  </ul>
</nav>